<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.issuer">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.ActiveCoupon"></activity>
        <activity
            android:name=".Activity.ListDistributor"
            android:parentActivityName=".Activity.DistributorManager" />
        <activity android:name=".Activity.SplashActivity" />
        <activity
            android:name=".Activity.ActiveCouponActivity"
            android:parentActivityName=".Activity.IssuerActivity" />
        <activity
            android:name=".Activity.GenerateQR"
            android:parentActivityName=".Activity.ReleaseCouponActivity" />
        <activity
            android:name=".Activity.DistributorManager"
            android:parentActivityName=".Activity.IssuerActivity" />
        <activity
            android:name=".Activity.CampaignManager"
            android:parentActivityName=".Activity.IssuerActivity" />
        <activity android:name=".Activity.IssuerActivity" />
        <activity
            android:name=".Activity.ReleaseCouponActivity"
            android:parentActivityName=".Activity.IssuerActivity" />
        <activity
            android:name=".Activity.AddBearerActivity"
            android:parentActivityName=".Activity.IssuerActivity" />
        <activity
            android:name=".Activity.InformationIssuer"
            android:parentActivityName=".Activity.IssuerActivity" />
        <activity android:name=".Activity.ConfirmActivity" />
        <activity
            android:name=".Activity.RegisterActivity"
            android:parentActivityName=".Activity.LoginActivity" />
        <activity android:name=".Activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>